* {
    font-family: 'Lucida Sans';
    box-sizing: border-box;

}

.container {
    width: 100%;
    max-width: 1180px;
    margin: auto; /* center */
}

.row {
    margin-top: 50px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col {
    width: 33%;
    float: left;
    padding: 10px;
}

.isi {
    border: 1px solid gray;
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
   
}
.gambar-pay{
    background-image: url('images/paybill.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: auto;

}
.gambar-reload{
    background-image: url('images/reload.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right;

}
.gambar-internet{
    background-image: url('images/addinternet.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right;

}


@media screen and (max-width: 800px) {
    .container {
        max-width: 780px;
    }

    .col {
        width: 100%;
    }
}
